.section.improve-skills{
    .col.img{
        img{
            width: 100%;
        }
    }
    .col.typography{
        padding-left: 1em;
        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            padding: .1em 0 .1em .5em;
             color: var(--text-light);
             font-weight: bold;
             transform: translateX(100%);
             animation: getAnimationDuration(.5s) slideInRight forwards;
           
                }
             .btn{
                margin-top: .75em;
             }
        }
       
    }